body {
  font-family: 'IBM Plex Serif', serif;
  overflow: hidden;
}

ul {
  list-style: none;
}

h1 {
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

#picker {
  margin-left: 2px;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  margin-right: 100px;
  background-color: #e0eaf9;
  margin-top: 50px;
  cursor: pointer;
  width: 86%;
}

#picker:hover {
  font-size: 15px;
  transition: 0.2s;
}

.selected {
  background-color: #e0eaf9;
}

.page-contents {
  display: flex;
  padding-top: 20px;
}

.dogs {
  display: flex;
  width: 80%;
}

.dog-master-list {
  height: 500px;
  width: 200px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: 44px;
  background-color: white;
}

.dog-master-list li:hover{
  background-color: #e0eaf9;
  cursor: pointer;
}

img {
  border-radius: 5px;
  margin-right: 20px;
}

.dog-img {
  height: 500px;
  width: 500px;
}

.dog-pic {
  width: 78%;
  height: 58%;
  border: 26px solid pink;
  overflow: hidden;
}

.adopted-list {
  padding: 10px;
  width: 103%;
  margin-top: 30px;
}

.unadopt {
  padding: 4px;
  border-radius: 5px;
  margin-left: 30px;
  cursor: pointer;
}

.adoptee {
  border-bottom: 1px solid lightgrey;
  padding: 17px;
}

.contact-icons {
  margin-right: 40px;
  margin-top: -12%;
  margin-left: 79%;
}

.actual-icons {
  display: flex;
  justify-content: space-around;
}

.dogs-and-options {
  overflow-y: scroll;
  height: 500px;
}

.picker-and-pic {
  margin-left: 2%;
  width: 63%;
}

.dogs-and-options::-webkit-scrollbar {
  width: 0;
}

h2 {
  position: fixed;
  top: 71px;
  border-bottom: 2px solid lightgrey;
}

.github-icon {
  padding: 5px;
  cursor: pointer;
}

.github-real {
  width: 30px;
  height: 30px;
}

.linkedin-icon {
  padding: 9px;
  cursor: pointer;
}

.linkedin-real {
  width: 25px;
  height: 25px;
}
